<!DOCTYPE html>
<html>
  <head>
    <title>Travel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Google+Sans">

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <script type="text/javascript">
      window.scrollTo(0,1);
    </script>
  </head>

  <body>
    <div class="container">
      <!-- Header bar  -->
      <%= react_component 'layout/GlobalAppBar', :pageTitle => @page_title %>

      <!-- Main view content -->
      <div class="content">
        <%= yield %>
      </div>

      <!-- Flash messages -->
      <%= react_component 'layout/GlobalFlashMessage', :alert => alert, :notice => notice %>
    </div>
  </body>
</html>
